*.opendb
*.sdf
*.user
*.db
*.suo
*.tlog
*.exe
*.obj
*.iobj
*.pdb
*.ipdb
*.log
*.ilk
*.idb
*.pdb
*.ib_pdb_index
/interprocess/*.TMP
*/CMakeFiles/*
*.vcxproj
*.stamp
*.sln
*.vcxproj
*.vcxproj.filters
*CMakeCache.txt
*.ipch
*.db-shm
*.db-wal
cmake_install.cmake
bin/.vs/*