[submodule "utility"]
	path = utility
	url = https://github.com/boostorg/utility.git
[submodule "config"]
	path = config
	url = https://github.com/boostorg/config.git
[submodule "throw_exception"]
	path = throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "assert"]
	path = assert
	url = https://github.com/boostorg/assert.git
[submodule "fixed-container"]
	path = fixed-container
	url = https://github.com/Surrog/fixed-container.git
